nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    /*  display: flex;
    justify-content: center; */
}

.nav-link {
    display: flex;
    margin-right: 20px;
    color: black;
    justify-content: center
}

nav a:hover {
    color: orange;
}